@import "./colors.less";

@phone:    ~"screen and (max-width: 820px)";

p{
    margin: 0px;
    line-height: inherit;
}

a{
    text-decoration: none;
    color: @color-accent;
}

.main-div {
    min-height: 100%;
    width: 100%;
    font-family: 'Raleway';
    background-color: white;
    color: #333333;
}
.expand-full {
    min-height: 100vh;
    width: 100%;
    display: inline-block;
    margin-bottom: -4px;
}

.nav-pic {
    height: 120%;
    width: 100%;
}

.contact-icons {
    display: inline-block;
    font-size: 1em;
    .github-icon {
        font-size: 1.6em;
    }
}

.content-body {
    text-align: center;
    min-height: 100vh;
    width: 100%;
    display: inline-block;
    padding-top: 65px;
    width: calc(~'100% - 230px');
    float: right;
    p{
        //margin-bottom: 10px;
    }
}

.card-heading {
    font-size: 1.7em;
    color: @color-primary;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    //border-bottom: 1px solid #FF4081;
    .card-actions {
        float: right;
        font-size: 0.7em;
        color: @color-primary;
    }
    .card-timeDetails {
        font-size: 0.6em;
        color: grey;
        margin-bottom: 10px;
    }
    &:after{
        content: "";
        height: 1px;
        //background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(255,64,129,1) 50%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(63,81,181,1) 50%,rgba(0,0,0,0) 100%);

        display: block;
    }
}

.card-picture {
    height: 100%;
    width: 100%;
}

.card-content-container {
    width: calc(~'100% - 140px');
    float: left;
    font-size: 1.1em;
    line-height: 1.8em;
    &:last-child {
        margin-bottom: 0px;
    }
}

.card-without-pic {
    width: 100%;
}

.card-pics-container {
    display: inline-block;
    width: 130px;
    float: right;
}

.quote {
    display: inline-block;
    text-align: center;
    width: 85%;
    margin: 20px;
    font-size: 1.2em;
    color: grey;
    font-family: 'Indie Flower', cursive;
    .author {
        margin-left: 50%;
    }

}

.skill {
    background-color: @color-accent;
    color: white;
    border-radius: 10px;
    padding: 2px 4px;
}

@media @phone {
    .content-body {
        width: 100%;
    }
    .card-content-container {
        line-height: 1.5em;
        font-size: 0.9em;
    }
}
